@import 'utilities.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;

}
body{
    font-family:'Roboto Slab', serif;
    
}
html{
    scroll-behavior: smooth;
}
header{
    background: #5b3163;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 85%,0 100%);
    /* height: 800px; */
}
.logo img{
    width: 85px;
    border-radius: 150px;
    
}
.container{
    max-width: 1000px;
    padding: 0px 15px;
    margin: 0 auto;
    height: 40rem;
}
@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1100px;
    }
}
.left a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s;
    
}
.left a:hover{
    color: #63acec;
}
.container nav{
    padding: 1.5rem 0;
}
header nav .logo{
    margin-right: 3rem;
}
.box1 .left img{
    width: 80%;
    border-radius: 10px;
}
.box1{
    padding: 50px 10px ;
}
.box1 .right{
    /* margin-left: 2rem; */
    color: white;
}
.box1 .right h3{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-weight: 100;
}
.box1 .right h1{
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    font-weight: 100;
}
.box1 .right h1 span{
    color: #35a2f3;
}
.box1 .right p{
    line-height: 1.7;
    
}
.about .container img{
    width: 29rem;
    height: 22rem;
    border-radius: 10px;

}
section.about h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 550;
    color: #35a2f3;
}
section.about h3{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-family: 200;
}
section.about p{
    font-size: 1rem;
    font-family: 'Baloo Bhai 2';
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background-color: #35a2f3;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    margin-right: 0.5rem;
    
    
}
section.about .social a:hover{
    background: yellow;
    transition: all 0.5s ease;
}
section.about .social img{
    width: 35px;
    height: 35px;
    padding: 0.3rem;
}

.heading{
    color: #35a2f3;
    text-align: center;
    
    margin-bottom: 0.4rem;
    font-size: 2rem;
    line-height: 2.0;
    
    
}
.heading + p{
    font-family: 'Baloo Bhai 2' ;
    margin-bottom: 5.5rem;
    text-align: center;
    font-size: 1.2rem;
}
.card img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -2.3rem;
    left: 50%;
    transform: translateX(-50%);

}
section.services{
    background: gainsboro;
    height: 120vh;
    
}
section.services .allcards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
}
.card{
    background: whitesmoke;
    padding: 2rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    box-shadow: 1px 3px 8px black;
    
}
.card h2{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.card p{
    font-family: 'Baloo Bhai 2';
    line-height: 1.2;
}
.card:hover{
    /* background: white; */
    background: rgb(180, 177, 177);
    transition: all 0.3s ease;


}
.card:hover h2,.card:hover p{
    /* color:#1d7ec9 ; */
    color: white;

    transition: all 0.3s ease;

}
.status{
    padding-top: 2rem;
    height: 60vh;
    text-align: center;
    background: #5b3163;
    opacity: 0.95;
    color: white;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 82%,0 100%);
    line-height: 2.5rem;
    
}
.status h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.status p{
    font-family: 'Baloo Bhai 2';
    font-size: 1.2rem;
    margin-bottom: 1.2rem;

}
.slide img{
    width: 400px;
    height: 350px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    

}
.slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 8rem;
}
.slide h3{
    padding-bottom: 1.7rem;
    color: #35a2f3;

}
.projects{
    height: 140vh;
}
.slide p{
    font-size: 1.2rem;
    line-height: 2;
    font-family: 'Baloo Bhai 2';
}
.slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center
    ;
}
.slider-dots{
    margin-top: 3rem;
}
.slider-dots button{
    font-size: 0;
    width: 15px;
    height: 5px;
    margin-right: 0.4rem;
    border:none;
    outline: none;
    background: gray;
    border-radius: 30px;
    cursor: pointer;

}
.slider-dots .dots li.slick-active button{
    background: #35a2f3;
    width: 30px;
}
.contact{
    background:gainsboro ;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 82%,0 100%);
    height: 100vh;
}
.contact h1{
    padding-top: 2rem;
}
.card1 img{
    width: 70px;
    height: 70px;
    margin-bottom: 3rem;

}
.contact .allcards1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card1{
    text-align: center;
}
.card1 h1{
    font-weight: 500;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    
}
.card1 h6{
    font-size: 1.2rem;
    font-weight: 400;
}
.footer1 img{
    width: 35px;
    height: 35px;
    padding: 0.3rem;
    background-color:#35a2f3 ;
    padding: 0.3rem 0.3rem;
    margin-right: 1rem;
    border-radius: 10px;
    
}
.footer1 img:hover{
    background-color:yellow ;
}
footer img{
    width: 30%;
    
    
    
    
}
footer{
    text-align: center;
    padding-bottom: 2rem;
}
.footer1{
    padding-bottom: 1.2rem;
}
.hamberger img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;

}
.main-wrap{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 35px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.mob{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 4rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times img{
    width: 15px;
    height: 15px;
    
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.mob ul{
    list-style-type: none;
}
.mob ul li a{
    color:#35a2f3 ;
    text-decoration: none;
    font-size: 2rem;
}
@media(max-width:1024px){
    header #main-nav{
        display: none;
    }
    .box1{
        padding-top: 8rem;
    }
    .about .container img{
        width: 14rem;
        height: 14rem;
    }
    section.services .allcards{
        grid-template-columns: repeat(2,1fr)
    }
    .status h1{
        margin-bottom: 2rem;
    }
    .status p{
        margin-bottom: 3rem;
    }
    .status{
        height: 44vh;
    }
    .slide img{
        width: 265px;
        height: 250px;
    }
    .slide p{
        line-height: 1.5;
    }
    .projects{
        height: 110vh;
    }
    .contact{
        height: 78vh;
    }
    

    

}
@media(max-width:576px){
    .box1{
        flex-direction: column;
    }
    .container{
        height: 44rem;

    }
    header{
        clip-path: polygon(0 0,100% 0,100% 94%,70% 88%,0 94%);
    }
    .inner-wrap{
        flex-direction: column;
    }
    .about .container img{
        width: 12rem;
    height: 11rem;
    }
    section.about h1{
        text-align: center;
    }
    section.about h3{
        margin-bottom: 4rem;
    font-size: 1.4rem;
    text-align: center;
    }
    section.about p{
        margin-bottom: 4.5rem;
        text-align: center;
    }
    section.about .social{
        justify-content: center;
        padding-bottom: 2rem;
    }
    section.services .allcards{
        grid-template-columns: repeat(1,1fr);
    }
    section.services{
        height: 295vh;
    }
    .status{
        height: 60vh;
        clip-path: polygon(0 0,100% 0,100% 97%,70% 88%,0 97%);
    }
    .status h1{
        font-size: 1.5rem;
    }
    .status p{
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .slide img{
        width: 180px;
    height: 150px;
    
    }
    .slide{
        padding: 0px 1rem;
    }
    .slide p{
        line-height: 1.2;
    }
    .heading + p{
        margin-bottom: 1.5rem;
    }
    .slide h3{
        padding-bottom: 1.2rem;
    }
    

}


    

